
{% extends "base.html" %}
{% load crispy_forms_tags %}


  {% block content %}



    <div class="container">
      <div class="row">
        <div class="col-5 border rounded p-4 m-4">
          <form action="#" id="employeeform">
            <!-- tow of two methods to pevernt form submision -->

            {%csrf_token%}
            <h1 style="margin-left: 5%">Employee</h1>
            {{employeeform|crispy}}
            <input class="btn btn-info" type="submit" value="Save Employee" />
          </form>
        </div>
        <div class="col-6">
          <table class="table" id="emptable">
            <thead>
              <tr>
                <td>Sr.No.</td>
                <td>First Name</td>
                <td>Last Name</td>
                <td>E-mail</td>
                <td>Gender</td>
                <td>Office</td>
                <td>Location</td>
                <td>Status</td>
              </tr>
            </thead>
            <tbody id="emptbl"></tbody>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>

<script src='/static/employee.js'></script>
{% endblock content %}
