{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Office and Employee Form</title>
    <script
      src="https://code.jquery.com/jquery-3.7.1.min.js"
      integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
      crossorigin="anonymous"
    ></script>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"/>

  </head>
  <body>

    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
          <a class="navbar-brand" href="/index/">Navbar</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
              aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="/index/">Home</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="/officespage/">Office Page</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="/employeespage/">Employee Page</a>
                  </li>
  </nav>

    <div class="container">
      <div class="row">
        <div class="col-5 border rounded p-4 m-4">
          <form action="#" id="employeeform">
            <!-- tow of two methods to pevernt form submision -->

            {%csrf_token%}
            <h1 style="margin-left: 5%">Employee</h1>
            {{employeeform|crispy}}
            <input class="btn btn-info" type="submit" value="Save Employee" />
          </form>
        </div>
        <div class="col-6">
          <table class="table" id="emptable">
            <thead>
              <tr>
                <td>Sr.No.</td>
                <td>First Name</td>
                <td>Last Name</td>
                <td>E-mail</td>
                <td>Gender</td>
                <td>Office</td>
                <td>Location</td>
                <td>Status</td>
              </tr>
            </thead>
            <tbody id="emptbl"></tbody>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>

<script>
  
  var emplist = [];
  var csrfmiddlewaretoken="{{csrf_token}}"
  $(document).ready(function () {
    getallemployees();
  });

  // get all employees
  function getallemployees() {
    $.ajax({
      method: "GET",
      url: "/employees/",
    }).done((response) => {
      const tempemp = JSON.parse(response);
      emplist = tempemp;
      emplist = emplist.map((e) => {
        const emp={
          ...e.fields,
          id:e.pk
        }
        return emp
      });
      renderemptable();
    });
  }
  function renderemptable() {
    let tableBody = document.getElementById("emptbl");
    tableBody.remove();
    let newBody = document.createElement("tbody");
    newBody.id = "emptbl";
    document.getElementById("emptable").append(newBody);
    emplist.forEach(function (emp, index) {
      const row = newBody.insertRow();
      const count = document.createElement("TD");
      count.innerHTML = index + 1;
      const fname = document.createElement("TD");
      fname.innerHTML = emp.firstname;
      const lname = document.createElement("TD");
      lname.innerHTML = emp.lastname;
      const email = document.createElement("TD");
      email.innerHTML = emp.email;
      const gender = document.createElement("TD");
      gender.innerHTML = emp.gender == "M" ? "Male" : 'Female';
      const office = document.createElement("TD");
      office.innerHTML = emp.office.name;
      const location = document.createElement("TD");
      location.innerHTML = emp.office.locations;
      const activecol = document.createElement("TD");
      const check=document.createElement('input')
      check.type='checkbox'

      if (emp.active){
        check.checked='checked'
      }
      activecol.appendChild(check)

      check.onchange=function(){
        emp.active=check.checked
        
        const body={
          ...emp,
          office:emp.office.id,
          csrfmiddlewaretoken,
        }

        const csrftoken = getCookie('csrftoken');
        
        $.ajax({
          headers: {'X-CSRFToken': csrftoken},
          method: "PUT",
          url: "/employee/",
          data: JSON.stringify(body),
        })
          .done(function (response) {
            console.log(response);
            
          })
          .fail(function (response) {
            console.log(response);
          });   
      }

      row.appendChild(count);
      row.appendChild(fname);
      row.appendChild(lname);
      row.appendChild(email);
      row.appendChild(gender);
      row.appendChild(office);
      row.appendChild(location);
      row.appendChild(activecol);

    });
  }

  function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}


  function employeeformsubmit(event) {
    //  one of two methods to pevernt form submision
    event.preventDefault();
    const valuesinarry = $(this).serializeArray();
    const body = {};
    valuesinarry.forEach((e) => {
      body[e.name] = e.value;
    });
    //valuesinarry.reduce((body, e) => {
    //body[e.name] = e.value;
    //return body;
    //}, body);
    $.ajax({
      method: "POST",
      url: "/employee/",
      data: body,
    })
      .done(function (response) {
        console.log(response);
        event.target.reset();
        emplist.push(response);
        renderemptable();
      })
      .fail(function (response) {
        console.log(response);
      });
  }

  $("#employeeform").submit(employeeformsubmit);
</script>
