{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Office and Employee Form</title>
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"
    integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
</head>

<body>


  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="/index/">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/index/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/officespage/">Office Page</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/employeespage/">Employee Page</a>
          </li>
  </nav>
  <div class="container">

    <h2>Offices Page</h2>

    <div class="row">
      <div class="col-5 border rounded p-4 m-4 ">
        <form action="#" id="officeform">
          {%csrf_token%}
          <!-- one of two methods to pevernt form submision -->
          <h1 style="margin-left: 5%">Office</h1>
          {{officeform|crispy}}
          <input class='btn btn-info' type="submit" value="Save Office" />
        </form>
      </div>
      <div class="col-6">
        <table class="table" id="officetable">
          <thead>
            <tr>
              <td>Sr.No.</td>
              <td>Name</td>
              <td>Location</td>
            </tr>
          </thead>
          <tbody id="officetbl">
          </tbody>
        </table>
      </div>
    </div>
</body>

</html>

<script>
  officeslist = []
  emplist = []
  $(document).ready(function () {

    getalloffices()
    $("#officeform").submit(officeformsubmit);

  });

  // get all Offices
  function getalloffices() {
    $.ajax({
      method: "GET",
      url: "/offices/",
    })
      .done(response => {
        const tempoffices = JSON.parse(response)
        officeslist = tempoffices
        officeslist = officeslist.map(e => e.fields)
        renderofficetable()
      });
  }
  function renderofficetable() {
    let tableBody = document.getElementById('officetbl');
    tableBody.remove();
    let newBody = document.createElement('tbody');
    newBody.id = 'officetbl';
    document.getElementById('officetable').append(newBody);
    officeslist.forEach(
      function (office, index) {
        const row = newBody.insertRow();
        const count = document.createElement('TD');
        count.innerHTML = index + 1;
        const name = document.createElement('TD');
        name.innerHTML = office.name;
        const location = document.createElement('TD');
        location.innerHTML = office.locations;
        row.appendChild(count);
        row.appendChild(name);
        row.appendChild(location);
      }
    )

  }


  function officeformsubmit(event) {
    //  one of two methods to pevernt form submision
    event.preventDefault();
    const valuesinarry = $(this).serializeArray();
    const body = {};
    //valuesinarry.forEach(e=>{
    //body[e.name]=e.value
    //})
    valuesinarry.reduce((body, e) => {
      body[e.name] = e.value;
      return body;
    }, body);

    $.ajax({
      method: "POST",
      url: "/office/",
      data: body,
    })
      .done(function (response) {
        console.log(response);
        event.target.reset();
        officeslist.push(response)
        renderofficetable()

      })
      .fail(function (response) {
        console.log(response);
      });
  }


</script>