
{% extends "base.html" %}
{% load crispy_forms_tags %}


  {% block content %}

  <div class="container">

    <h2>Offices Page</h2>

    <div class="row">
      <div class="col-5 border rounded p-4 m-4 ">
        <form action="#" id="officeform">
          {%csrf_token%}
          <!-- one of two methods to pevernt form submision -->
          <h1 style="margin-left: 5%">Office</h1>
          {{officeform|crispy}}
          <input class='btn btn-info' type="submit" value="Save Office" />
        </form>
      </div>
      <div class="col-6">
        <table class="table" id="officetable">
          <thead>
            <tr>
              <td>Sr.No.</td>
              <td>Name</td>
              <td>Location</td>
            </tr>
          </thead>
          <tbody id="officetbl">
          </tbody>
        </table>
      </div>
    </div>


<script src="/static/office.js"> </script>

{% endblock content %}